# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db
desktop.ini
